{% extends "trail_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}

<h1>Please click state you would like to see trails in</h1>

<ul class="list-group">
    {% for state in states %}
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'user-state-detail' state.id %}">{{ state.state }}</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'state-detail' state.id %}">{{ state.state }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>




{% endblock %}