{% extends 'trail_app/base_template.html' %}

{% block content %}

<h1 style="text-align: center;">Trails in {{ state.state }}</h1>
<p></p>
{% for trail, data in zipped_data %}
    {% if trail %}
        <!-- Your HTML code for displaying trail information -->
        
        <div class="container pt-1 my-5 border">
            <p><img src="{{ trail.image.url }}" width="150">
            <strong>{{ trail.name }}</strong> 
            <a href="{% url 'trail-detail' trail.id %}" class="btn btn-primary">View</a></p>
            <p>{{ trail.location }} {{ trail.zip_code }}</p>
            
            {% if data %}
            <!-- Your HTML code for displaying weather data -->
            <p><strong>Today's Weather is: {{ data.temp }} Humidity: {{ data.humidity }}% {{ data.main }} 
            <img src="http://openweathermap.org/img/w/{{ data.icon }}.png"> Wind Speed: {{ data.speed }} mph</strong></p>
            {% endif %}
            
       
        </div>
    {% endif %}
{% endfor %}

{% endblock %}