{% extends "trail_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<head>
<style>
    p{
        font-weight: bold;
        color: #333399;
    }
</style>

</head>
<h1 style = "text-align: center;">Trail Detail</h1>

<ul class ="list-group">
    <h2 style = "text-align: center;"></h2>
        <p style = "text-align: left"><img  src = "{{ trail.image.url }}" width = 300> {{trail.name}}</p>
        <p>{{trail.location}} {{trail.zip_code}}</p>
            <p>Description: {{trail.name}}</p>
            <p>Temperature is {{trail.temperature}} degrees</p>
            <p>The weather for the next three days: {{trail.weather}}</p>
            <p>placeholder for weather map</p>
            <p>place holder for other API information </p>
            {% for data in trail_data_list%}
            {% if data %}
            <!-- Your HTML code for displaying weather data -->
            <p><strong>Today's Weather is: {{ data.temp }} Humidity: {{ data.humidity }}% {{ data.main }}, {{data.description}}
            <img src="http://openweathermap.org/img/w/{{ data.icon }}.png"> Wind Speed: {{ data.speed }} mph</strong></p>
            <p><img src="https://tile.openweathermap.org/map/precipitation_new/9/{{latitude}}/{{longitude}}.png?appid=ae5d1984ae12b5f2f131ae14d16e16c6">
            {% endif %}
            {%endfor%}
</ul>



{% endblock %}